# dependencies
/node_modules
/example/node_modules

# misc
.DS_Store
/example/.DS_Store
npm-debug.log*
/example/npm-debug.log*
yarn-debug.log*
/example/yarn-debug.log*
yarn-error.log*
/example/yarn-error.log*

# editor
.vscode

# Build
/dist
/example/dist
/build
/example/build
.cache
/example/.cache

# Other
index.d.ts
